
.acciones a{
	margin-right: 1em;
}


.acciones form button{
margin-left: 0.5em;
}

.header-main{
	padding: 0 0 0 1em;
}

.header-right{
	padding-top: 0.5em;
}
i.glyphicon{
	color:white;
}

i.glyphicon:hover{
	color:orange;
}

.texto{
	font-size: 1em;
}

#pagination{
	margin-left: auto;
	margin-right: auto;
}

#pagination ul{
	margin: 0 20% 0 40%;
}

/*--------------------------------*/
body{
	font-size: 14px;
}
.page-container{
	position: absolute;
	bottom: 0;
}
.sidebar-menu {
	min-height: 100%;
	height:100vh;
}
.copyrights{
	margin-top: auto;
	font-size: 15px;
	padding: 1em 1em;
}
.login_link{
	margin: 0.5em;
	padding: 0.5em;
}
.login_link a{
	color: #1f648b;
}
.logo-name {
	float: left;
	margin: 0.5em;
	padding: 0.5em;
}
.mother-grid-inner{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.profile_details_left{
	width: 20%;
}
.header-right{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.page-container{
	display: flex;
	justify-content: flex-end;
}

.inner-block{
	padding: 2em;
	height: 100%;
	overflow-y: scroll;
}
.logo-name{
	margin: 0em;
	padding: 0em;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
	margin-left: -60px;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.form-control{
	height: 39px;
}
