
.acciones{
	display: inline-flex;
}
.acciones a{
margin-right: 0.5em;
padding: 6 12;
margin-bottom: 1em;
}

.acciones form button{
margin-left: 0.5em;
}


i.glyphicon{
	color:white;
}

i.glyphicon:hover{
	color:orange;
}

.texto{
	font-size: 1em;
}

#pagination{
	margin-left: auto; 
	margin-right: auto;
}

#pagination ul{
	margin: 0 20% 0 40%;
}

